@import url('https://fonts.googleapis.com/css?family=K2D:500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.desc {
    display: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 200px;
}


strong {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

nav {
    min-height: 200px;
    background-color: white !important;
    top: 0;
    transition: top 0.2s ease-in-out;
}


.nav-up {
    top: -200px;
}



.navbar-brand img {
    max-width: 270px;
}

@media(max-width:991px) {
    body {
        padding-top: 100px !important;
    }

    nav {
        min-height: 100px !important;
    }

    .nav-up {
        top: -100px !important;
    }

    .navbar-brand img {
        display: block;
        max-width: 180px;
    }
}


#my-nav {
    font-family: 'K2D', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #707070;
    padding-top: 50px;
}



.row.row-grid [class*="col-"]+[class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .row.row-grid [class*="col-lg-"]+[class*="col-lg-"] {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"]+[class*="col-md-"] {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"]+[class*="col-sm-"] {
        margin-top: 0;
    }
}


.carousel-item {
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#offer {
    padding: 115px 0;
}

#offer h2 {
    font-family: 'K2D', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 220px;
}

#offer h3 {
    margin-top: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.h-bold {
    margin-right: 30px;
    font-weight: 700 !important;
    text-align: right;
    font-size: 50px !important;
}

.offer-inside {
    min-height: 330px;
    padding-left: 40px;
    padding-top: 50px;
}

#offer-individual {
    border-radius: 20px 0 0;
    border: 3px solid #6691ae;
    color: #6691ae;
    background-color: white;
}

#offer-motoric {
    border: 3px solid #b7a97e;
    color: #b7a97e;
}

#offer-gymnastic {
    border-radius: 0 0 20px;
    border: 3px solid #6c275c;
    color: #6c275c;
}

.desc h2 {
    max-width: 80% !important;
}

#offer-desc-individual {
    border-radius: 20px 0 0;
    color: white;
    background-color: #6691ae;
}

#offer-desc-motoric {
    border-radius: 20px 0 0;
    color: white;
    background-color: #b7a97e;
}

#offer-desc-gymnastic {
    border-radius: 0 0 20px;
    color: white;
    background-color: #6c275c;
}

.desc-inside p {
    margin-top: 20px;
    max-width: 70%;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

@media (max-width: 992px) {
    .desc-inside p {
        padding-bottom: 40px;
        text-align: left !important;
        max-width: 90% !important;
    }
}


#about-me {
    padding: 80px 0;
    min-height: 710px;
    background-color: #276c50;
    color: #eeeeee;
}

#about-me img {
    width: 100%;
    height: auto;
}

#about-me h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#about-me h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#about-me p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* text-align: justify; */
}

#about-me hr {
    margin: 30px 0;
    border: 2px solid #1cee99;
    opacity: 0.3;
}

#price {
    padding: 80px 0;
    min-height: 800px;
    background-color: #3e3e3e;
    color: #d9d9d9;
    text-align: center;
}

#price h1 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 90px;
}

#price h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#price-individual {
    margin-bottom: 30px;

    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
    height: 85px;
    border-top: 1px solid #6691ae;
    border-bottom: 1px solid #6691ae;
}

#price-individual p {
    margin-top: 10px;
    margin-bottom: 0 !important;
}

#price-individual strong {
    color: #6691ae;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
}

#price-gymnastic {
    margin-bottom: 30px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
    height: 85px;
    border-top: 1px solid #c26aae;
    border-bottom: 1px solid #c26aae;
}

#price-gymnastic p {
    margin-top: 10px;
}

#price-gymnastic strong {
    color: #c26aae;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
}

#price-motoric {
    margin-bottom: 30px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
    height: 85px;
    border-top: 1px solid #b7a97e;
    border-bottom: 1px solid #b7a97e;
}

#price-motoric p {
    margin-top: 10px;
}

#price-motoric strong {
    color: #b7a97e;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
}


#contact-form {
    padding: 80px 0;
    min-height: 700px;
    text-align: center;
}

#contact-form h1 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#contact-form h2 {
    color: #3e3e3e;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
    /* max-width: 30%; */
}

#contact-form .justify-content-center * {
    text-align: left;
}



#contact-form label {
    color: #3e3e3e;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

#contact-form input {
    font-size: 16px;
    border-radius: 0;
    height: 49px;
    border: 1px solid #c7c7c7;
    background-color: #ffffff;
}

.contact {
    padding: 0 20px;
}

.my-button {
    border-radius: 0;
    height: 63px;
    background-color: #276c50;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.my-button:hover, .my-button:focus, .my-button:active, .my-button.active, .open>.dropdown-toggle.my-button {
    border: 1px solid #276c50;
    background-color: white;
    color: #276c50;
  }